In [1]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect("CountryClub.db")

In [24]:
sql = "SELECT f.name, SUM(CASE WHEN memid = 0 THEN f.guestcost ELSE f.membercost END) as revenue FROM Bookings INNER JOIN Facilities as f USING (facid) GROUP BY f.name"

In [25]:
q10 = pd.read_sql(sql, conn)

In [26]:
print(q10)

              name  revenue
0  Badminton Court    604.5
1   Massage Room 1  20807.9
2   Massage Room 2   6987.3
3       Pool Table    265.0
4    Snooker Table    115.0
5     Squash Court   4970.0
6     Table Tennis     90.0
7   Tennis Court 1   4040.0
8   Tennis Court 2   4205.0

In [87]:
sql11 = "SELECT m.name, r.recommender FROM (SELECT memid, surname|| ','|| firstname as name,CASE WHEN CAST(recommendedby AS SIGNED) = 0 THEN NULL ELSE CAST(recommendedby AS SIGNED) END as recommended FROM Members) AS m LEFT JOIN(SELECT memid as recid, surname|| ','|| firstname as recommender FROM Members) AS r ON m.recommended = r.recid ORDER BY m.name"

In [88]:
q11 = pd.read_sql(sql11, conn)

In [89]:
print(q11)

                       name        recommender
0            Bader,Florence    Stibbons,Ponder
1                Baker,Anne    Stibbons,Ponder
2             Baker,Timothy     Farrell,Jemima
3                Boothe,Tim         Rownam,Tim
4            Butters,Gerald       Smith,Darren
5               Coplin,Joan      Baker,Timothy
6             Crumpet,Erica        Smith,Tracy
7                Dare,Nancy    Joplette,Janice
8             Farrell,David               None
9            Farrell,Jemima               None
10              GUEST,GUEST               None
11          Genting,Matthew     Butters,Gerald
12                Hunt,John  Purview,Millicent
13              Jones,David    Joplette,Janice
14            Jones,Douglas        Jones,David
15          Joplette,Janice       Smith,Darren
16           Mackenzie,Anna       Smith,Darren
17             Owen,Charles       Smith,Darren
18             Pinker,David     Farrell,Jemima
19        Purview,Millicent        Smith,Tracy
20               Rownam,Tim               None
21         Rumney,Henrietta    Genting,Matthew
22         Sarwin,Ramnaresh     Bader,Florence
23             Smith,Darren               None
24             Smith,Darren               None
25               Smith,Jack       Smith,Darren
26              Smith,Tracy               None
27          Stibbons,Ponder       Tracy,Burton
28             Tracy,Burton               None
29      Tupperware,Hyacinth               None
30  Worthington-Smyth,Henry        Smith,Tracy

In [90]:
sql12 = "SELECT f.name, SUM(CASE WHEN memid != 0 THEN 1 ELSE 0 END) as memberusers FROM Bookings INNER JOIN Facilities as f USING (facid) GROUP BY f.name ORDER BY memberusers desc"

In [91]:
q12 = pd.read_sql(sql12, conn)
print(q12)

              name  memberusers
0       Pool Table          783
1    Snooker Table          421
2   Massage Room 1          421
3     Table Tennis          385
4  Badminton Court          344
5   Tennis Court 1          308
6   Tennis Court 2          276
7     Squash Court          195
8   Massage Room 2           27

In [97]:
sql13 = "SELECT f.name, strftime('%m',CAST(starttime as Date)) as month, COUNT(bookid) as users FROM Bookings INNER JOIN Facilities as f USING (facid) GROUP BY f.name, month ORDER BY f.name, month"

In [98]:
q13 = pd.read_sql(sql13, conn)
print(q13)

              name month  users
0  Badminton Court    05    383
1   Massage Room 1    05    629
2   Massage Room 2    05    111
3       Pool Table    05    836
4    Snooker Table    05    444
5     Squash Court    05    440
6     Table Tennis    05    403
7   Tennis Court 1    05    408
8   Tennis Court 2    05    389